{{#if viewOnly}}
<div class="container">
	
	<!-- Table -->
	<div class="sixteen columns">

		<p class="margin-bottom-25">Your listings are shown in the table below. Expired listings will be automatically removed after 30 days.</p>

		<table class="manage-table responsive-table">

			<tr>
				<th><i class="fa fa-file-text"></i> Title</th>
				<th><i class="fa fa-check-square-o"></i> Filled?</th>
				<th><i class="fa fa-calendar"></i> Date Posted</th>
				<th><i class="fa fa-calendar"></i> Date Expires</th>
				<th><i class="fa fa-user"></i> Salary</th>
		
			</tr>
					
			<!-- Item #1 -->
            {{#each myJobs}}
			<tr>
				<td class="title"><a href="#">{{this.jobTitle}} <span class="pending">(Pending Approval)</span></a></td>
				<td class="centered">-</td>
				<td>{{this.dateposted}}</td>
				<td>{{this.closingDate}}</td>
				<td class="centered">{{this.sallary}}</td>
				
			</tr>
            {{/each}}
					
			<!-- Item #2 -->
		
		</table>

		<br>
		<a href="#" class="button">Add Job</a>

	</div>

</div>
{{else}}



<!-- Content
================================================== -->
<div class="container">
	  {{#if message}}

        <div class="alert alert-success" role="alert">
            {{message}}
        </div>
        {{/if}}
	
	<!-- Table -->
	<div class="sixteen columns">

		<p class="margin-bottom-25">Manage jobs</p>

		<table class="manage-table responsive-table">

			<tr>
				<th><i class="fa fa-file-text"></i> Job Title</th>
				
				<th><i class="fa fa-calendar"></i> Date Posted</th>
				<th><i class="fa fa-calendar"></i> Date Expires</th>
				<th><i class="fa fa-user"></i> Applications</th>
			
                <th><i class="fa fa-check-square-o"></i>Got employees? resolve</th>
                	<th>edit</th>
                    <th>delete</th>
                   		</tr>
					
			<!-- Item #1 -->
            {{#each myJobs}}
			<tr>
				<td class="title"><a href="#">{{this.jobTitle}} <span class="pending">(Pending Approval)</span></a></td>
				
				<td>{{this.dateposted}}</td>
				<td>{{this.closingDate}}</td>
			
                <td class="action">
					<a href="#" class="delete"><i class="fa fa-eye"></i> view My applications</a>
				</td>
                <td class="centered"> <a href="#" class="delete"><i class="fa fa-check"></i> Resolve</a> </td>
				  <td class="action">
					<a href="/editJob?job={{this._id}}" class="delete"><i class="fa fa-edit"></i> Edit</a>
				</td>
                <td class="action">
					<a onclick="deleteJob('{{this._id}}')" href="#" class="delete"><i class="fa fa-remove"></i> Delete this job</a>
				</td>
              
		<td class="centered">-</td>
			</tr>
					{{/each}}
			<!-- Item #2 -->
		

		</table>

		<br>
		<a href="#" class="button">Add Job</a>

	</div>

</div>
{{/if}}







<!-- Footer
================================================== -->
<div class="margin-top-60"></div>

<div id="footer">
	<!-- Main -->
	<div class="container">

		<div class="seven columns">
			<h4>About</h4>
			<p>Morbi convallis bibendum urna ut viverra. Maecenas quis consequat libero, a feugiat eros. Nunc ut lacinia tortor morbi ultricies laoreet ullamcorper phasellus semper.</p>
			<a href="#" class="button">Get Started</a>
		</div>

		<div class="three columns">
			<h4>Company</h4>
			<ul class="footer-links">
				<li><a href="#">About Us</a></li>
				<li><a href="#">Careers</a></li>
				<li><a href="#">Our Blog</a></li>
				<li><a href="#">Terms of Service</a></li>
				<li><a href="#">Privacy Policy</a></li>
				<li><a href="#">Hiring Hub</a></li>
			</ul>
		</div>
		
		<div class="three columns">
			<h4>Press</h4>
			<ul class="footer-links">
				<li><a href="#">In the News</a></li>
				<li><a href="#">Press Releases</a></li>
				<li><a href="#">Awards</a></li>
				<li><a href="#">Testimonials</a></li>
				<li><a href="#">Timeline</a></li>
			</ul>
		</div>		

		<div class="three columns">
			<h4>Browse</h4>
			<ul class="footer-links">
				<li><a href="#">Freelancers by Category</a></li>
				<li><a href="#">Freelancers in USA</a></li>
				<li><a href="#">Freelancers in UK</a></li>
				<li><a href="#">Freelancers in Canada</a></li>
				<li><a href="#">Freelancers in Australia</a></li>
				<li><a href="#">Find Jobs</a></li>

			</ul>
		</div>

	</div>

	<!-- Bottom -->
	<div class="container">
		<div class="footer-bottom">
			<div class="sixteen columns">
				<h4>Follow Us</h4>
				<ul class="social-icons">
					<li><a class="facebook" href="#"><i class="icon-facebook"></i></a></li>
					<li><a class="twitter" href="#"><i class="icon-twitter"></i></a></li>
					<li><a class="gplus" href="#"><i class="icon-gplus"></i></a></li>
					<li><a class="linkedin" href="#"><i class="icon-linkedin"></i></a></li>
				</ul>
				<div class="copyrights">©  Copyright 2015 by <a href="#">Work Scout</a>. All Rights Reserved.</div>
			</div>
		</div>
	</div>

</div>

<!-- Back To Top Button -->
<div id="backtotop"><a href="#"></a></div>

</div>
<!-- Wrapper / End -->


<!-- Scripts
================================================== -->
<script src="scripts/jquery-2.1.3.min.js"></script>
<script src="scripts/custom.js"></script>
<script src="scripts/jquery.superfish.js"></script>
<script src="scripts/jquery.themepunch.tools.min.js"></script>
<script src="scripts/jquery.themepunch.revolution.min.js"></script>
<script src="scripts/jquery.themepunch.showbizpro.min.js"></script>
<script src="scripts/jquery.flexslider-min.js"></script>
<script src="scripts/chosen.jquery.min.js"></script>
<script src="scripts/jquery.magnific-popup.min.js"></script>
<script src="scripts/waypoints.min.js"></script>
<script src="scripts/jquery.counterup.min.js"></script>
<script src="scripts/jquery.jpanelmenu.js"></script>
<script src="scripts/stacktable.js"></script>
<script src="scripts/headroom.min.js"></script>
<script src="scripts/stacktable.js"></script>


</div>

<script>
function  deleteJob(id){

console.log("idid",id)
let r=  confirm("are you sure you want to delete?")

if(r==true)
{

$.ajax({
	url:'/deleteJob',
	method:'post',
	data:{
		id
	},
	success:(response)=>{

if(response)
{
	alert('Deleted successfully')
	window.location.reload();
}
	}
})
}

	}
</script>

</body>
</html>